/* 文章新闻详情 */
.main_item_title{width: 830px;}
.main_item_title_lt{font-size: 18px;}
.article_info_title {width: 432px;text-align: center;margin: 0 auto;font-size: 18px;color: #333;margin-bottom: 20px;padding-top: 5px;font-weight: bold;}
.article_info_time{margin: 0 auto;}
.article_info_time,.article_info_price{width: 200px;text-align: center; margin: 0 auto;margin-bottom: 20px;font-size: 14px;color: #999;}
.article_img_item{width: 100%;text-align: center;margin: 20px 0;}
.article_img_item:last-of-type{margin-bottom: 0;}
.article_img_item img{max-width: 100%;}


/* 文章新闻 */
.main_item:nth-of-type(2){padding-bottom: 0;}
.main_item_content.newslist{margin-top: -15px;}
.article_item{height: 50px;line-height: 50px;border-bottom: 1px dashed #ccc;display: block;}
.article_item:last-of-type{border-bottom: 0;}
.article_item_title{float: left;font-size: 14px;color: #333;}
.article_item_title:hover{cursor: pointer;color: var(--templateCommenColor);text-decoration: none;}
.article_item_date{float: right;color: #999;}
.format { display: inline-block; line-height: 28px; text-indent: 2em; font-size: 14px;color: #333;}
.main_item_more{padding-bottom: 0;}

